/* You can add global styles to this file, and also import other style files */

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

/*
Expandable View Css
*/

ngx-datatable datatable-body-cell{
  word-break: break-all!important;
  white-space: pre-wrap!important;
}

ngx-datatable .datatable-row-detail {
  height: auto!important;
}
.dropzone .dz-preview .dz-error-mark {
  display: none !important
}
.dropzone .dz-preview .dz-success-mark {
  display: none !important
}
.dropzone .dz-preview .dz-details {
  display: none !important
}
.dropzone .dz-preview .dz-error-message {
  display: none !important
}






ngx-datatable .row_detail_inner {
  padding: 9px 15px;
  position: relative;
  background: #f2f3f2;
  text-align: left;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

ngx-datatable .row_detail_inner > .row {
  padding: 8px 15px;
}


ngx-datatable .datatable-row-detail {
  height: auto!important;
}

ngx-datatable .row_detail_inner:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f2f2f2;
  position: absolute;
  bottom: 100%;
  left: 20px;
}

ngx-datatable .row_detail .head {
  font-weight: 600;
  margin-right: 0;
}

ngx-datatable .row_detail span {
  width: 50%;
  display: inline-block;
  word-break: break-all;
}

ngx-datatable .row_detail_inner .img_car {
  width: 100%;
  height: 108px;
  display: block;
  align-items: center;
  background: 0 0;
  border-right: 0;
  padding: 2px;
}
ngx-datatable .row_detail_inner .img_car img {
  display: inline-block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
ngx-datatable .border_class {
  border: 1px solid #e2e2e2;
  padding: 0;
  margin: 1px 0;
}
ngx-datatable .border_bottom {
  border-bottom: 0 solid #e2e2e2;
}
ngx-datatable .list_content {
  padding: 16px 30px;
}
ngx-datatable .custom_flex_width {
  border: 1px solid #e2e2e2;
  margin-top: 1px;
  display: block;
  float: left;
  width: 100%;
}
ngx-datatable .listing_section .option_outer h2 {
  background: 0 0;
  margin: 10px 0;
}
ngx-datatable .option_box {
  padding: 5px 20px;
  margin-bottom: 20px;
}
ngx-datatable .listing_section .option_outer h2 {
  background: 0 0;
  margin: 10px 0;
}
ngx-datatable .option_box h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px;
}
ngx-datatable .option_box ol li {
  list-style: none;
  line-height: 1;
  margin-bottom: 5px;
}
ngx-datatable .option_box ol li input {
  display: none;
}
ngx-datatable .option_box ol li input:disabled+label {
  cursor: auto;
}
ngx-datatable .option_box ol li input+label {
  margin: 0;
  padding: 0 0 0 25px;
  line-height: initial;
  position: relative;
  cursor: pointer!important;
  font-size: 14px;
  font-weight: 400;
}
ngx-datatable .option_box ol li input+label:after {
  content: "\f14a";
  font: 14px/1 FontAwesome;
  color: #b4b4b4;
  position: absolute;
  top: 3px;
  left: 0;
}
ngx-datatable .option_box ol li input:checked+label:after {
  color: #e12c33;
}
ngx-datatable .three_column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.p-0 {
  padding: 0;
}

ngx-datatable .option_outer h2 {
  background: #f6f6f6;
  color: #313131;
  line-height: initial;
  padding: 14px 20px;
  text-align: left;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 400;
}
ngx-datatable ol {
  padding: 0;
  margin: 0;
}
/*
Expandable View Css End
*/
.dealer_bid_popup thead tr th {font-size: 12px;font-weight: 700; vertical-align: top;line-height: normal; text-align: center;}
.dealer_bid_popup td {font-weight:400; font-size:12px;}
.dealer_bid_popup td img {max-height:45px;}
.dealer_bid_popup .container {width:100%;}
h5#exampleModalLabel {font-size: 18px; float:left;}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {font-weight: 700;}
.blue_btn {border:0px solid red; background:#367fa9; color:#fff; font-size: 12px;}

@media (min-width:768px) {
.modal-dialog {width:780px; margin:100px auto;}
}
