
<!--<mk-box header="Filters" [isCollapsed]="true" [isCollapsable]="true" [isRemovable]="false">
  <form [formGroup]="filterForm">
    <div class="box-body">

      <div class="row">
        <div class="form-group col-md-6">
          <label>Category</label>
          <select formControlName="category" class="form-control">
            <option value="">Select category</option>
            <option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Status</label>
          <select formControlName="status" class="form-control">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Cost for two</label>
          <ng5-slider (userChangeEnd)="priceChange($event)" [(value)]="minValue" [(highValue)]="maxValue"
            [options]="options"></ng5-slider>
        </div>

      </div>
    </div>
    <div class="box-footer">
      <button type="button" (click)="applyFilters()" class="btn btn-primary">Apply Filters</button>
    </div>
  </form>
</mk-box>-->
<mk-box [isLoading]="isLoading" header="Places Listing" [isCollapsable]="true" [isRemovable]="false">

    <div class="box-body pad15">
        <div class="row border-Col">
           
  
          <div class="left_col">
              <button class="button red" (click)="downloadCsv()"> Export List </button>    
          </div>
          
  
          <div class="searchBar_col">
          
              <form [formGroup]="searchForm">
                  <input formControlName="search" style="border:1px solid; border-radius:25px;" class="form-control" type="text"
                    placeholder="Search a place">
                </form>
          </div>
  
          
          
  
        </div>
      </div>

  <div class="box-body">

    


    <ngx-datatable #myTable class="bootstrap" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [externalPaging]="true"
      [rows]="companies" [sorts]="[{prop: 'created_at', dir: 'desc'}]" (page)="setPage($event,'all')">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="listing_section">
            <div class="row_detail col-md-12">
              <div class="row_detail_inner">
                <div class="listing_section">
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-md-12">
                        <div class="row mx-0">
                          <div class="col-md-2 p-0">
                            <div class="img_car">
                              <img src="{{row?.cover_image}}" class="img-fluid">
                            </div>
                          </div>

                          <div class="col-md-10">
                            <div class="row">

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Headeline:</span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row.headline}}</span></div>
                                </div>
                              </div>

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Working Hours: </span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row?.working_hours_from}} To
                                      {{row?.working_hours_to}}</span></div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-10">
                            <div class="row">

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Headeline:</span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row.headline}}</span></div>
                                </div>
                              </div>

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Working Hours: </span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row?.working_hours_from}} To
                                      {{row?.working_hours_to}}</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="row">

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Headeline:</span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row.headline}}</span></div>
                                </div>
                              </div>

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Working Hours: </span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row?.working_hours_from}} To
                                      {{row?.working_hours_to}}</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="row">

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Headeline:</span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row.headline}}</span></div>
                                </div>
                              </div>

                              <div class="col-md-6 border_class">
                                <div class="row">
                                  <div class="col-md-6"> <span class="list_content">Working Hours: </span></div>
                                  <div class="col-md-6"> <span class="list_content"> {{row?.working_hours_from}} To
                                      {{row?.working_hours_to}}</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <!--<ngx-datatable-column [width]="50" [sortable]="false" [draggable]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>-->

      <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="100" name="Logo">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <img width="50%" src="{{ row.logo }}">
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [width]="150" [sortable]="false" name="Place Name">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [sortable]="false" name="Tagline">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.headline }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [width]="100" [sortable]="false" name="About Place">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.about }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [width]="100" [sortable]="false" name="Selected Activity">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.category_id }}
        </ng-template>
      </ngx-datatable-column>

      




      <ngx-datatable-column [draggable]="false" [width]="100" [sortable]="true" prop="created_at" name="Created On">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.created_at | date:'MM-dd-yy, h:mm a' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" [sortable]="false" [draggable]="false" name="Action">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>


          <div class="icon"><a href="javascript:void(0)" (click)="populateEditForm(row)"><i class="fa fa-edit"></i></a>
            <a (click)="delete(row.id)" href="javascript:void(0)"><i class="fa fa-trash"></i></a></div>

        </ng-template>
      </ngx-datatable-column>







    </ngx-datatable>
  </div>
</mk-box>

<mk-box [isCollapsed]="isCollapsed" header="{{(interestIdToUpdate)?'Update':'Add'}} A Place" [isCollapsable]="true"
  [isRemovable]="false">


  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="box-body">
      <div class="form_left_col">
        <div class="form-group">
          <label for="companyname">Place Name*</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Enter company name">
          <p *ngIf="companyForm.controls.name.touched || submitted">
            <app-form-validation-errors errorPrefix="Company name " [errors]="companyForm.get('name').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="form-group">
          <label for="headline">Tagline*</label>
          <input formControlName="headline" type="text" class="form-control" placeholder="Enter company Tagline">
          <p *ngIf="companyForm.controls.headline.touched || submitted">
            <app-form-validation-errors errorPrefix="Company tagline " [errors]="companyForm.get('headline').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="form-group">
          <label for="location">About Place*</label>
          <input formControlName="about" type="text" class="form-control" placeholder="Enter About Place">
          <p *ngIf="companyForm.controls.about.touched || submitted">
            <app-form-validation-errors errorPrefix="About Place " [errors]="companyForm.get('about').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="form-group">
          <label>Choose Interest Category*</label>
          <select formControlName="category_id" (change)="listSubcategory($event.target.value)" class="form-control">
            <option value="">Choose Interest Category</option>
            <option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</option>
          </select>
          <p *ngIf="companyForm.controls.category_id.touched || submitted">
            <app-form-validation-errors errorPrefix="Interest Category " [errors]="companyForm.get('category_id').errors">
            </app-form-validation-errors>
          </p>
        </div>
        <div class="form-group">
          <label>Choose Interest Subcategory*</label>
          <select multiple formControlName="subcategory_id" class="form-control multiple_select">
            <option value="">Choose Interest Subcategory</option>
            <option *ngFor="let subcategory of subcategories" value="{{subcategory.title}}">{{subcategory.title}}
            </option>
          </select>
          <p *ngIf="companyForm.controls.subcategory_id.touched || submitted">
            <app-form-validation-errors errorPrefix="Interest Subcategory " [errors]="companyForm.get('subcategory_id').errors">
            </app-form-validation-errors>
          </p>
        </div>
        <div class="form-group">
          <label for="location">Working Days*</label>
          <input mask="0" formControlName="working_days" type="text" class="form-control" placeholder="Enter Working Days">
          <p *ngIf="companyForm.controls.working_days.touched || submitted">
            <app-form-validation-errors errorPrefix="Working Days " [errors]="companyForm.get('working_days').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="row form-group m_b_0">
            <div class="col-md-12">
              <label for="headline">Working Hours*</label>
            </div>

        </div>
        <div class="row">

         
          <div class="form-group col-md-4">

            <input formControlName="working_hours_from" type="text" class="form-control" placeholder="From HH:MM"
              mask="Hh:m0">
            <p *ngIf="companyForm.controls.working_hours_from.touched || submitted">
              <app-form-validation-errors errorPrefix="Working hours From "
                [errors]="companyForm.get('working_hours_from').errors"></app-form-validation-errors>
            </p>
          </div>
          <div class="form-group col-md-4">

            <input formControlName="working_hours_to" type="text" class="form-control" placeholder="To HH:MM"
              mask="Hh:m0">
            <p *ngIf="companyForm.controls.working_hours_to.touched || submitted">
              <app-form-validation-errors errorPrefix="Working hours to "
                [errors]="companyForm.get('working_hours_to').errors"></app-form-validation-errors>
            </p>
          </div>
        </div>
        

        <div class="form-group">
          <label for="headline">Address*</label>
          <input  formControlName="address" type="text" class="form-control"
            placeholder="Enter Address">
          <p *ngIf="companyForm.controls.address.touched || submitted">
            <app-form-validation-errors errorPrefix="Address " [errors]="companyForm.get('address').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="form-group">
          <label for="headline">Website*</label>
          <input formControlName="website" type="text" class="form-control" placeholder="Enter website url">
          <p *ngIf="companyForm.controls.website.touched || submitted">
            <app-form-validation-errors errorPrefix="Website url " [errors]="companyForm.get('website').errors">
            </app-form-validation-errors>
          </p>
        </div>

        <div class="form-group">
          <label for="headline">Connect Instagram</label>
          <input formControlName="connect_instagram" type="text" class="form-control"
            placeholder="Enter connect instagram">

        </div>

        <div class="form-group">
          <label for="headline">Connect Facebook</label>
          <input formControlName="connect_facebook" type="text" class="form-control"
            placeholder="Enter connect faceboog">
        </div>

        <div class="form-group">
          <label for="headline">Connect google</label>
          <input formControlName="connect_google" type="text" class="form-control" placeholder="Enter connect google">
        </div>

        <div class="form-group">
          <label>Select status*</label>
          <select formControlName="status" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>

        </div>

        <div class="form-group">
          <label for="exampleInputFile"> Upload Logo</label>
          <input type="file" #fileUploader (change)="fileChangeEvent($event)">

          <p *ngIf="croppedImage" class="help-block">Please crop image.</p>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="16 / 9"
            [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            [style.display]="showCropper ? null : 'none'"></image-cropper>
          <img [src]="croppedImage" />
          <img *ngIf="!croppedImage && interestIdToUpdate" src="{{ companyForm.get('logo').value }}">
        </div>

        <div class="form-group">
          <label for="exampleInputFile">Upload Image</label>
          <input type="file" #fileUploader (change)="coverFileChangeEvent($event)">

          <p *ngIf="croppedImage" class="help-block">Please crop image.</p>
          <image-cropper [imageChangedEvent]="coverImageChangedEvent" [maintainAspectRatio]="true"
            [aspectRatio]="16 / 9" [resizeToWidth]="128" format="png" (imageCropped)="coverImageCropped($event)"
            (imageLoaded)="coverImageLoaded()" [style.display]="showCoverCropper ? null : 'none'"></image-cropper>
          <img [src]="croppedCoverImage" />
          <img *ngIf="!croppedCoverImage && interestIdToUpdate" src="{{ companyForm.get('cover_image').value }}">
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="clear"></div>
    <div class="box-footer">
      <button type="submit" [disabled]="!companyForm.valid" [ngClass]="{ 'submit-btn-disable': !companyForm.valid }"
        class="btn btn-primary">{{(interestIdToUpdate)?'Update':'Add'}} Compnay</button>
        <button *ngIf="interestIdToUpdate" type="button" (click)="cancel()" class="btn btn-primary  btn-flat">Cancel</button>
    </div>
  </form>
</mk-box>