<div class="hold-transition login-page">
    <div class="login-box">
      
      <!-- /.login-logo -->
      <div class="login-box-body">
    <div class="login-logo">
    <a href="#" class="c_logo"><img src="assets/img/logo.png"></a>
    
      </div>
        <div class="login_head">Forgot Password.</div>
  
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="gray-form clearfix">
          <div class="form-group has-feedback">
              <input type="email" formControlName="email" class="form-control" placeholder="Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              <p *ngIf="forgotPasswordForm.controls.email.touched || submitted">
                <app-form-validation-errors errorPrefix="Email " [errors]="forgotPasswordForm.get('email').errors"></app-form-validation-errors>
              </p>
          </div>
         
          <div class="row">       
           
              <div class="col-xs-12">
                  <button type="submit" [disabled]="!forgotPasswordForm.valid" [ngClass]="{ 'submit-btn-disable': !forgotPasswordForm.valid }" class="btn btn-primary btn-block btn-flat">Submit</button>
                  
                </div>
            <!-- /.col -->
          </div>
        </div>
        </form>
  
        <div class="social-auth-links text-center"></div>
        <!-- /.social-auth-links -->
  
        <a routerLink="/" class="text_frgt">Back To Login</a>   
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
  





