<mk-box header="Car Listing" [isCollapsable]="false" [isRemovable]="false">
  
    
  <ngx-datatable
    #myTable
    class="bootstrap"   
    [count]="100"
    [offset]="0" 
    [limit]="8"   
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [externalPaging]="true"      
    [rows]="cars"
    [sorts]="[{prop: 'created_at', dir: 'desc'}]"
    (page)="onPage($event)"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail
      [rowHeight]="100"
      #myDetailRow
      (toggle)="onDetailToggle($event)"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-row-detail-template
      >
        <div style="padding-left:35px;">
          <div><strong>Address</strong></div>
          <div>rtrtrter</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
      >
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>

    
    <ngx-datatable-column name="Year" width="80">
      <ng-template
        let-rowIndex="rowIndex"
        let-row="row"
        ngx-datatable-cell-template
      >
        {{ row.year }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Make" width="120">
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
      >
        {{ row.make }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Model" width="80">
      <ng-template
        let-row="row"
        let-value="value"
        ngx-datatable-cell-template
      >
      {{ row.model }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Trim" width="150">

        <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row?.trim?.length <= 18" data-toggle="tooltip"
              title="{{row?.trim}}">{{ row?.trim | slice:0:18}}</span>
            <span *ngIf="row?.trim?.length > 18" data-toggle="tooltip"
              title="{{row?.trim}}">{{ row?.trim | slice:0:18}}...</span>


          </ng-template>

     
    </ngx-datatable-column>
    <ngx-datatable-column name="Exterior Color" width="100">
      <ng-template
        let-row="row"
        let-value="value"
        ngx-datatable-cell-template
      >
      {{ row.exterior_color }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Mileage" width="100">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
        {{ row.miles | number}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Car Condition" width="150">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
        <span *ngIf="row?.vehicle_condition?.vehicle_condition_value?.length <= 18" data-toggle="tooltip"
              title="{{row?.vehicle_condition?.vehicle_condition_value}}">{{ row?.vehicle_condition?.vehicle_condition_value | slice:0:18}}</span>
            <span *ngIf="row?.vehicle_condition?.vehicle_condition_value?.length > 18" data-toggle="tooltip"
              title="{{row?.vehicle_condition?.vehicle_condition_value}}">{{row?.vehicle_condition?.vehicle_condition_value | slice:0:18}}...</span>

        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="created_at" name="Listed On" width="80">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
        {{ row.created_at | date:'MM-dd-yy, h:mm a'}}
        </ng-template>
    </ngx-datatable-column>

    


  </ngx-datatable>

</mk-box>
